{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./src/components",
        "@configs": "./src/configs",
        "@navigations": "./src/navigations",
        "@hooks": "./src/hooks",
        "@Store": "./src/Store",
        "@assets": "./src/assets",
        "@pages": "./src/pages",
        "@services": "./src/services",
        "@utilities": "./src/utilities"
      }
    }]
  ]
}
